body{
    color: #ddd;
    text-align: center;
    background: #ebf;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#cabecera{
    background: #ebf;
    border-radius: 5px;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.5);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: .5em;
}

#cabecera #tagline{
    padding: 0 0 1em;
    font-weight: normal;
    font-size: .8em;
}

#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid deeppink;
    border-radius: 5px;
    margin: 0 auto;
    background-color: deeppink;
}

#container h1{
    font-size: 20px;
    color: #ebf;
}